<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8"><meta name="viewport">
        <title>Book store</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
     
    <body>
        <header>
            <nav class="navbar">
                <h1>Bookie store</h1>
                <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class = "home-container">
                <div class="left">
                    <img src="{{url_for('static',filename='book.jpg')}}">
                </div>
                <div class="right">
                    <h2>Welcome to Bookie store</h2>
                    <p> All type of books are available here!</p>
                    
                        <input type="button" value="Start reading"> 
                </div>

            </div>
        </main>
    </body>

</html>